<!doctype html>
<meta charset="utf-8">
<title>Plaudit</title>

<section>
  <p>
    Get The Widget:
  
    <pre><code>
      &lt;iframe src="https://plaudit.glitch.me/widget?doi=10.1111/1234"&gt;&lt;/iframe&gt;
    </code></pre>
  
    <iframe src="https://plaudit.glitch.me/widget?doi=10.1111/1234" width="50" height="50" frameborder="0" style="overflow: visible;" tabindex="-1"></iframe>
  </p>
</section>

<section>
  <p>
    <a href="/claps">View data</a>
  </p>
</section>
